In [2]:
import glob
import pandas as pd

In [6]:
# 获取当前文件夹下所有的 CSV 文件
file_list = glob.glob('./FinBERT/*.csv')

# 用一个空的 DataFrame 开始合并
combined_df = pd.DataFrame()

# 循环读取每个 CSV 文件并合并到 combined_df 中
for file in file_list:
    df = pd.read_csv(file)
    if df.empty:
        continue    
    combined_df =  pd.concat([combined_df, df], ignore_index=True)

In [7]:
data = combined_df[['sentiment_scores','times']].copy()
print(data.head())
data.describe()

                                    sentiment_scores       times
0                             [-0.15854748384033462]  2006-10-20
1                                              [0.0]  2006-10-21
2                         [-0.6818488136581753, 0.0]  2006-10-23
3  [-0.4595161032676697, -0.813238263130188, 0.87...  2006-10-24
4         [-0.7924697727853367, -0.5260841946532256]  2006-10-25

       sentiment_scores       times
count              1277        1277
unique             1122        1277
top               [0.0]  2006-10-20
freq                106           1

In [8]:
data.to_csv('datas_FinBERT.csv')

In [9]:
# 读取月粒度标签
All_Employees = pd.read_excel('./Ecnomical_index/Monthly All Employees, Total Nonfarm (PAYEMS).xls')
Employment_Level = pd.read_excel('./Ecnomical_index/Monthly Employment Level.xls')
Industrial_Production = pd.read_excel('./Ecnomical_index/Monthly Industrial Production Total Index (INDPRO).xls')
Manufacturing_Trade_Industries_Sales = pd.read_excel('./Ecnomical_index/Monthly Real Manufacturing and Trade Industries Sales (CMRMT).xls')
Personal_Consumption_Expenditures = pd.read_excel('./Ecnomical_index/Monthly Real Personal Consumption Expenditures (PCEC96).xls')
personal_income = pd.read_excel('./Ecnomical_index/Monthly Real personal income excluding current transfer receipts (W875RX1).xls')

In [10]:
# 读取季度粒度标签
GDP_GDI = pd.read_excel('./Ecnomical_index/Quarterly Real Average of GDP and GDI (LB0000091Q020SBEA).xls')
GDI = pd.read_excel('./Ecnomical_index/Quarterly Real gross domestic income (A261RX1Q020SBEA).xls')
GDP = pd.read_excel("./Ecnomical_index/Quarterly Real Gross Domestic Product(GDP).xls")

In [12]:
# 确保日期列为 datetime 类型
GDP_GDI['observation_date'] = pd.to_datetime(GDP_GDI['observation_date'])
# 将 Employment_Level 的日期列设置为索引
GDP_GDI.set_index('observation_date', inplace=True)
GDP_GDI.head()

                  LB0000091Q020SBEA
observation_date
1947-01-01                 2168.894
1947-04-01                 2164.684
1947-07-01                 2163.701
1947-10-01                 2191.064
1948-01-01                 2236.850

In [13]:
# 确保日期列为 datetime 类型
GDP['observation_date'] = pd.to_datetime(GDP['observation_date'])
# 将 Employment_Level 的日期列设置为索引
GDP.set_index('observation_date', inplace=True)
GDP.head()

                     GDPC1
observation_date
1947-01-01        2182.681
1947-04-01        2176.892
1947-07-01        2172.432
1947-10-01        2206.452
1948-01-01        2239.682

In [16]:
# 确保日期列为 datetime 类型
GDI['observation_date'] = pd.to_datetime(GDI['observation_date'])
# 将 Employment_Level 的日期列设置为索引
GDI.set_index('observation_date', inplace=True)
GDI.head()

                  A261RX1Q020SBEA
observation_date
1947-01-01               2155.107
1947-04-01               2152.475
1947-07-01               2154.969
1947-10-01               2175.676
1948-01-01               2234.019

In [17]:
combined_label = pd.concat([GDP_GDI, GDI,GDP], axis=1, join='inner')
combined_label.head()

                  LB0000091Q020SBEA  A261RX1Q020SBEA     GDPC1
observation_date
1947-01-01                 2168.894         2155.107  2182.681
1947-04-01                 2164.684         2152.475  2176.892
1947-07-01                 2163.701         2154.969  2172.432
1947-10-01                 2191.064         2175.676  2206.452
1948-01-01                 2236.850         2234.019  2239.682

In [18]:
combined_label.to_csv('./Quarterly_merged_label.csv')